# Libraries

In [1]:
from pymongo import MongoClient
import pandas as pd

# Create Mongo connection

In [2]:
client = MongoClient("localhost:27017")
db = client["Ironhack"]
c = db.get_collection("companies")

# Find startup companies and their countries

A startup has different quantitative characteristics depending on the author. These are the characteristics I will use to define a startup:
 - Has less than 100 employess: `number_of_employees`
 - Developers want to be closer to startups that have raised at least 1 million USD: `total_money_raised`

In [3]:
# employees = list(c.find())[i]["number_of_employees"]

# raised = list(c.find())[i]["total_money_raised"]

In [4]:
condition_1 = {"number_of_employees":{"$lt": 100}}
condition_2 = {"total_money_raised": {"$regex":".+M$"}}
condition_3 = {"total_money_raised": {"$regex":".+B$"}}
projection = {"offices.city": 1, "offices.country_code": 1, "_id": 0}
cities_countries = list(c.find({"$and": [condition_1, {"$or": [condition_2, condition_3]}]}, projection))

In [5]:
cities_countries[:2]

[{'offices': [{'city': 'Seattle', 'country_code': 'USA'},
   {'city': 'New York', 'country_code': 'USA'}]},
 {'offices': [{'city': 'San Francisco', 'country_code': 'USA'}]}]

In [6]:
cities_countries[0]["offices"][1]["city"]

'New York'

In [7]:
cities_countries[0]

{'offices': [{'city': 'Seattle', 'country_code': 'USA'},
  {'city': 'New York', 'country_code': 'USA'}]}

In [8]:
cities = [j["city"] for i in cities_countries for j in i["offices"]]
countries = [j["country_code"] for i in cities_countries for j in i["offices"]]

In [9]:
dict_countrycity = {"city": cities, "country": countries}

In [10]:
pd.DataFrame(pd.DataFrame(dict_countrycity)["country"].value_counts()).head()

         count
country
USA       1067
GBR        121
ISR         43
CAN         40
FRA         36

In [11]:
pd.DataFrame(pd.DataFrame(dict_countrycity)["city"].value_counts()).head()

               count
city
San Francisco    181
New York         120
London            72
Seattle           42
Palo Alto         40